POST Para Servidor Web

# Implementação do POST Para Servidor Web

>  Indicação original de como fazer o  POST na [RFC 1945 section 8.3](https://tools.ietf.org/html/rfc1945#section-8.3)

### Site
* Input onde o usuário pode colocar um user name.
* Input para usuário escrever a mensagem.
* enviar uma requisição post com a mensagem indicando o usuário a a mensagem. 

### Servidor
* Identificar POST.
* adicionar mensagem ao chat com usuário indicado.
* Retornar mensagem informando que a operação foi concluída ou não.

## Exemplo
***Requisição:***

    POST /index.html HTTP/1.1
    Host: www.WebSite.com
    Connection: close 
    User-agent: Mozilla/5.0
    Accept-language: fr
    
    User= blabla
    Msg= algobalrasdso

***Resposta:***

    HTTP/1.1 204 No Content
    Connection: close
    Date: Tue, 09 Aug 2011 15:44:04 GMT 
    Server: Apache/2.2.3 (CentOS)
    Last-Modified: Tue, 09 Aug 2011 15:11:03 GMT