HEAD Para Servidor Web

# Implementação do HEAD Para Servidor Web

> Indicação original de como fazer o GET na [RFC 1945 section 8.2](https://tools.ietf.org/html/rfc1945#section-8.2).

A implementação é igual ao GET com as seguintes modificações:
* Ignora condicional
* Não retorna corpo da mensagem

Resumindo, retorna apenas cabeçalho com as informações do servidor.

## Exemplo
    
***Requisição:***

    GET /index.html HTTP/1.1
    Host: www.WebSite.com
    Connection: close 
    User-agent: Mozilla/5.0
    Accept-language: fr

***Resposta:***

    HTTP/1.1 200 OK
    Connection: close
    Date: Tue, 09 Aug 2011 15:44:04 GMT 
    Server: Apache/2.2.3 (CentOS)
    Last-Modified: Tue, 09 Aug 2011 15:11:03 GMT