GET Para Servidor Web

# Implementação do GET Para Servidor Web

## O Que Fazer

> Indicação original de como fazer o GET na [RFC 1945 section 8](https://tools.ietf.org/html/rfc1945#section-8).

#### Cliente
* Cabeçalho precisa apenas possuir duas linhas, a primeira com a requisição que esta sendo feita e o que esta sendo solicitado, a segunda com o endereço de host do servidor que irá responder a sua solicitação e nesse caso a porta que sera usada para esse fim que sera a **6789**.
* As linhas seguintes são informações sobre a conexão, mas pode ter também informações sobre o requerente.
* o final de cada linha e o final da requisição deve ser uma linha em branco, queno caso do windows é um enter, mas se altera para outros SO.

#### Servidor
* A primeira linha deve conter o protocolo, o código e a mensagem de retorno.
* A baixo deve conter o cabeçalho com as informações do arquivo, servidor e conexão, ao encerrar o cabeçalho devera retornar a informação requerida.  

### Exemplo

***Requisição:***

    GET /somedir/page.html HTTP/1.1
    Host: www.WebSite.com
    Connection: close 
    User-agent: Mozilla/5.0
    Accept-language: fr

***Resposta:***

    HTTP/1.1 200 OK
    Connection: close
    Date: Tue, 09 Aug 2011 15:44:04 GMT 
    Server: Apache/2.2.3 (CentOS)
    Last-Modified: Tue, 09 Aug 2011 15:11:03 GMT
    Content-Length: 6789 
    Content-Type: text/html
    
    (Dados requeridos  ...)